@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima Nova Regular.eot');
  src: url('../../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Proxima Nova Regular.woff') format('woff'),
  url('../../fonts/Proxima Nova Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima Nova Bold.eot');
  src: url('../../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Proxima Nova Bold.woff') format('woff'),
  url('../../fonts/Proxima Nova Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Anglecia';
  src: url('../../fonts/AngleciaProDisplay-Regular-webfont.eot');
  src: url('../../fonts/AngleciaProDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/AngleciaProDisplay-Regular-webfont.woff') format('woff'),
  url('../../fonts/AngleciaProDisplay-Regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Anglecia';
  src: url('../../fonts/AngleciaProDisplay-Italic-webfont.eot');
  src: url('../../fonts/AngleciaProDisplay-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/AngleciaProDisplay-Italic-webfont.woff') format('woff'),
  url('../../fonts/AngleciaProDisplay-Italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'KaushanScript';
  src: url('../../fonts/KaushanScript-Regular.eot');
  src: url('../../fonts/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/KaushanScript-Regular.woff') format('woff'),
  url('../../fonts/KaushanScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-serif {
  font-family: "Anglecia", serif;
}

.font-monospace {
  font-family: "KaushanScript", monospace;
}

//links color
.link-dark-gray {
  @include link-variant($brand-dark-gray);
}