aside {
  .content-wrap {
    background: #fff url("../../images/Flower.png") center;
    height: auto;
    box-shadow: 0 1px 2px 0 rgba(94, 96, 97, 0.1);
    border-radius: 12px;
    background-size: cover;
    padding: 10px 0;
    margin-bottom: 10px;

    .currency {
      font-size: 65px;
      color: #d794f2;
      margin: 20px 0;
    }

    .aside-title {
      font-size: 18px;
      color: #646464;
    }

    .aside-description {
      font-size: 14px;
      color: #616365;
      padding: 20px 10px 10px;
      margin-bottom: 0;
    }

    .form-group {
      padding: 0 10px;

      input {
        border-radius: 4px;
        max-width: 220px;
        height: 30px;
        background-color: rgba(247, 245, 247, 0.5);
        border: 1px solid rgba(126, 126, 126, 30);

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #616365;
          font-size: 14px;
          text-align: center;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #616365;
          font-size: 14px;
          text-align: center;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #616365;
          font-size: 14px;
          text-align: center;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #616365;
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .aside-footer {
      padding: 15px 0 0;
      .divider {
        width: 100%;
        height: 1px;
        background-color: #f3f3f3;
        margin-bottom: 5px;
      }
      .learn-more {
        font-size: 12px;
        color: #8a8d8f;
        letter-spacing: 2px;
      }
    }
  }

  .account-details {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(94, 96, 97, 0.1);
    padding: 10px 0;
    margin-bottom: 10px;

    a {
      position: relative;
      font-size: 16px;
      @include link-variant(#646464);
      padding: 5px 10px;

      svg {
        width: 17px;
        height: 17px;
        fill: $brand-purple;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        padding: 0 5px;
      }

      .count {
        display: inline-block;
        position: relative;
        background-color: #d794f2;
        border-radius: 12px;
        vertical-align: middle;

        &.count-money {
          width: 60px;
          height: 18px;
          border-radius: 12px;
        }

        &.count-massage {
          width: 18px;
          height: 18px;
          border-radius: 50%;
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 12px;
          text-align: center;
          font-weight: bold;
        }
      }
      .arrow {
        display: inline-block;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
          height: 10px;
          fill: rgba(138, 141, 143, 0.4);
          transition: all .3s ease;
        }

        a [ aria-expanded="true" ] {

          svg {
            transform: rotate(90deg);
          }
        }
      }
    }

    .panel-body {
      li {
        padding: 0 10px;
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #f3f3f3;
    margin: 10px 0;
  }

  footer {
    ul {
      margin: 10px 0;
      .nav-link {
        @include link-variant(#8a8d8f);
        font-size: 14px;
      }
    }

    .copytight {
      font-size: 14px;
      color: #8a8d8f;
    }

  }
}