.header-section {
  position: relative;
  padding: 10px 0 30px;
  background-image: linear-gradient(
                  rgba(50, 6, 62, 0.2),
                  rgba(50, 6, 62, 0.2)
  ), url("../../images/header-bg.png");

  header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    height: auto;

    .search-group {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 50);
      border-radius: 8px;
      padding: 0;
      margin: 10px 0;

      @include media-breakpoint-up(md) {
        width: 240px;
      }
      @include media-breakpoint-down(sm) {
        width: 150px;
      }

      input {
        background: rgba(255, 255, 255, 0.1);
        border: transparent;
        color: #fff;
        border-radius: 0;
        padding: 0.475rem 0.75rem;
        height: 30px;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
          font-size: 14px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
          font-size: 14px;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #fff;
          font-size: 14px;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #fff;
          font-size: 14px;
        }
      }

      .btn-search {
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        margin-left: 0;
        border-radius: 0;
        padding: 0.475rem 1rem;
        height: 30px;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 15px;
          height: 15px;
          fill: #fff;
        }
      }
    }

    .logo {

      img {
        height: 30px;
      }

      span {
        color: #fff;
        letter-spacing: 5px;
        font-size: 14px;
      }
    }

    .icons {
      margin-bottom: 0;
      padding: 10px 0;

      li {
        position: relative;

        svg {
          width: 30px;
          height: 25px;
          fill: #fff;
        }
      }
    }

    .count {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $brand-red;
      width: 15px;
      height: 15px;
      border-radius: 50%;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 10px;
      }
    }
  }

  .user {
    display: table;
    padding: 120px 0 30px;

    .avatar {
      position: relative;
      img {
        display: table-cell;
        border-radius: 50%;
        border: 2px solid #fff;
        vertical-align: middle;
        @include center-block;
        width: 80px;
        height: 80px;
      }

      .change-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: 50px;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 15px;
          fill: rgba(125, 129, 133, 0.9);

        }
      }
    }

    span {
      color: #fff;
      font-size: 14px;
      padding: 10px 0;
      letter-spacing: 5px;
      text-align: center;
    }
  }

  .btn-upload-photo {
    position: absolute;
    bottom: 15px;
    right: 15px;

    svg {
      width: 15px;
      height: 15px;
      fill: rgba(255, 255, 255, 0.9);
      vertical-align: middle;
    }

    span {
      font-size: 14px;
      vertical-align: middle;

    }
  }

  .btn-upload-photo-mobile {
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;

    svg {
      width: 15px;
      height: 15px;
      fill: rgba(255, 255, 255, 0.9);
      vertical-align: middle;

    }
  }

  //mobile header
  .mobile-header {
    padding: 10px 0;

    .header-icons {

      ul {
        margin-bottom: 0;
        li {
          margin-right: 0;
          padding: 0 9px;


          .mobile-logo {
            width: 35px;
            vertical-align: middle;
          }

          .notification {
            position: relative;

            .count {
              position: absolute;
              right: 0;
              top: -10px;
            }
          }
          img {
            vertical-align: baseline;
          }

          img, svg {
            width: 25px;
            height: 25px;
          }

          svg {
            fill: #fff;
          }
        }
        .navbar-toggler {
          position: relative;
          width: 25px;
          height: 25px;
          padding: 0;

          span {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: #fff;

            &:nth-child(1) {
              top: 1px;
            }
            &:nth-child(2) {
              top: 10px;
            }
            &:nth-child(3) {
              top: 19px;
            }
          }
        }
      }
      }

}

}

.nav {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0px 1px 2px 0px rgba(94, 96, 97, 0.1);
  white-space: nowrap;
  overflow-x: auto;

  .page-nav {
    margin-bottom: 0;

    li {
      padding: 0 10px;

      .nav-link {
        font-size: 16px;
      }
    }
  }
}