.cards {
  padding-top: 20px;

  .card {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 20rem;

    .product-name {
      border-top: 1px solid #e8e8e8;
      display: block;
      color: $brand-gray;
      font-size: 12px;
      padding: 0 5px;
    }

    .price {
      color: $brand-silver;
      font-size: 14px;
      font-weight: bold;
      padding: 0 5px;
    }
    .likes {
      position: relative;
      padding: 0 5px;

      ul {
        margin-bottom: 0;
        float: right;

        li {

          img {
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
          }
          & + li {
            margin-left: -15px;

            .btn-count-likes {
              position: relative;
              top: -6px;

              svg {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                fill: gray;
                width: 10px;
                height: 10px;
                vertical-align: middle;
              }

              span {
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);
                vertical-align: middle;
                font-weight: bold;
              }
            }
          }
        }
      }

    }
  }
}