<div class="header-section">
  <!--header-->
  <header class="hidden-xs-down">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group search-group">
            <input type="text" class="form-control pull-xs-right" placeholder="Vyhľadávať">
            <span class="input-group-btn">
            <button class="btn btn-search" type="button">
                @@include('../images/icons/magnifying-glass-searcher.svg')
            </button>
          </span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="logo text-xs-center">
            <img src="../images/logo.png" alt="logo" class="img-fluid center-block">
            <span class="text-uppercase">Herlandia</span>
          </div>
        </div>
        <div class="col-sm-4">
          <ul class="list-unstyled list-inline icons pull-xs-right">
            <li class="list-inline-item">
              <a href="#">
                <div class="count">
                  <span>12</span>
                </div>
                @@include('../images/icons/shopping-cart.svg')
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <div class="count">
                  <span>6</span>
                </div>
                @@include('../images/icons/bell.svg')
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                @@include('../images/icons/heart.svg')
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--end header-->
  <!--mobile header-->
  <header class=" mobile-header hidden-sm-up">
    <div class="navbar-menu-heading">
      <div class="container">
        <div class="header-icons text-xs-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <img src="../images/logo.png" alt="logo" class="hidden-sm-up img-fluid mobile-logo">
            </li>
            <li class="list-inline-item">
              <a href="#">
                @@include("../images/icons/magnifying-glass-searcher.svg")
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <img src="../images/icons/phone.png" alt="phone-icon">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="notification">
                <div class="count">
                  <span>6</span>
                </div>
                @@include('../images/icons/bell.svg')
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                @@include("../images/icons/heart.svg")
              </a>
            </li>
            <li class="list-inline-item">
              <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse"
                      data-target="#nav-content">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!--end mobile header-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="user text-xs-center center-block">
          <div class="avatar">
            <img src="http://placehold.it/100x100" alt="avatar" class="img-fluid">
            <a href="#" class="change-avatar">
              @@include("../images/icons/camera.svg")
            </a>
          </div>
          <span class="text-uppercase username">Lenka gočálová</span>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-upload-photo pull-xs-right hidden-sm-down">
    @@include("../images/icons/camera.svg")
    <span>Zmeniť titulnú fotku</span>
  </button>
  <button class="btn btn-upload-photo-mobile pull-xs-right hidden-md-up">
    @@include("../images/icons/camera.svg")
  </button>
</div>
<div class="nav">
  <div class="container">
    <ul class="list-unstyled list-inline text-xs-center page-nav font-serif">
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Inšpirácie týždňa</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Šperky & hodinky</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Topánky</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Módne doplnky</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Oblečenie</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Novinky</a></li>
      <li class="list-inline-item"><a href="" class="nav-link link-dark-gray">Výpredaj</a></li>
    </ul>
  </div>
</div>
